@inject JwtAuthStateProvider Auth

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized Context="context">
                    @if (context.User.Identity?.IsAuthenticated is false)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p>Bạn không có quyền truy cập tài nguyên này.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>

        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <h1>Không tìm thấy trang</h1>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>